        <ion-side-menu side="left" id="side-menu21">
            <ion-header-bar class="bar-assertive">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <a ui-sref="settings" menu-close="" id="menu-button9" class=" button button-positive  button-block " data-componentid="button9">Settings</a>
                <a ui-sref="login" menu-close="" id="menu-button11" class=" button button-positive  button-block " data-componentid="button11">Log out</a>
            </ion-content>
        </ion-side-menu>
        