<ion-view title="Profilo" id="page6" class=" " style="background-image: url('img/sughero.jpg')">
    <ion-content padding="true" class="has-header">
        <ion-list id="profile-list4" class=" ">
            <!--<ion-item class="item-thumbnail-left item-icon-right dark  " id="profile-list-item5">
                <img src="img/LHUudotzSbKuQdArC4Hb_Screenshot_2016-02-28-18-23-30.png">
                <h2dark>
                    <b>Fabio Muratorio
                        <b>
                            <p style="white-space:normal;">06/03/1989
                                <br>Milan</p>
                            <i class="icon ion-alert-circled"></i>
                        </b>
                    </b>
                </h2dark>
            </ion-item>
            <ion-item id="profile-list-item7" class="  ">
                <b>Stato: </b> Problemi zero
            </ion-item>-->
            
            <div id="d1" class="imgProfile" style = "">
                <img class="f1" src="img/polaroid.png" style="" >
                <div id="dd1">
                <!--<img class="pr" id="pr1" src="img/LHUudotzSbKuQdArC4Hb_Screenshot_2016-02-28-18-23-30.png" >-->
                </div>
                <img class="pt2" src="img/puntina.png" width="auto" height="auto" style="" >
            </div>

            <div id="d2" class="imgProfile" style = "">
                <img class="f1" src="img/polaroid.png" style="" >
                <img class="pr" id="pr2" src="img/LHUudotzSbKuQdArC4Hb_Screenshot_2016-02-28-18-23-30.png" style = "" >
                <img class="pt2" src="img/puntina.png" width="auto" height="auto" style="" >
            </div>            
           <!-- <img id="2f" src="img/polaroid.png" width="auto" height="auto" >
            <img id="3f" src="img/foto3.png" width="auto" height="auto" >
            <img id="4f" src="img/foto4.png" width="auto" height="auto" style="position: relative; margin-left:15%" >
            <img id="5f" src="img/foto5.png" width="auto" height="auto" style="position: relative; margin-right:15%" >-->            
        </ion-list>
    </ion-content>
</ion-view>

