<ion-view title="Questions" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="questions-form5" class="list ">
            <label class="item item-input " id="questions-input10">
                <span class="input-label">Ti piace il cinema?</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="questions-button-bar4" class=" button-bar ">
            <button id="questions-button19" class=" button button-positive  button-block ">Sì</button>
            <button id="questions-button20" class=" button button-positive  button-block ">No</button>
        </div>
        <div class="">
            <img src="img/jAenAFfSiegFObJeALoZ_DG-Logo-1(8).jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>