<ion-view title="Sign up" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list ">
            <ion-list id="signUp-list3" class=" ">
                <label class="item item-input " id="signUp-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input6">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input4">
                    <span class="input-label">Birthdate</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input9">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input7">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input " id="signUp-input8">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="">
            </label>
            <button id="signUp-button7" class=" button button-stable  button-block " ng-click="idSubmit()">Sign up</button>
        </form>
    </ion-content>
</ion-view>